.page-container
{
  min-height: 100vh !important;
  background-color: var(--main-bg);
  /* background: linear-gradient(rgb(146, 187, 247), rgb(68, 115, 181)); */
}

:root
{
  --main-bg: rgb(47, 80, 53);
  --dark-bg: rgb(33, 39, 36);

  --text-accent: rgb(145, 209, 145);
  --text-bright: rgb(200, 255, 200);

  --main-button: rgb(25, 107, 25);
  --main-button-hover: rgb(20, 90, 20);

  --secondary: rgb(54, 150, 201);
  --secondary-hover: rgb(36, 95, 126);

  --danger: rgb(165, 10, 10);
  --danger-hover: rgb(135, 8, 8);

}

.main-bg
{
  background-color: var(--main-bg) !important;
}
.dark-bg
{
  background-color: var(--dark-bg) !important;
}
.secondary-bg
{
  background-color: var(--secondary) !important;
}
.danger-bg
{
  background-color: var(--danger) !important;
}


.text-accent
{
  color: var(--text-accent) !important;
}
.text-bright
{
  color: var(--text-bright) !important;
}
.text-s
{
  color: var(--secondary) !important;
}
.text-d
{
  color: var(--danger) !important;
}

.font-mono
{
  font-family: monospace !important;
}

.entry-form-containter 
{
  width: min(500px,calc(100vw - 40px));
}
.time-bar-bg
{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.time-bar-fill
{
  height: 10;
  transition: width 0.2s;
}


.error-message
{
  font-size: 0.8rem;
  animation: error-message 0.2s ease-out forwards;
}

@keyframes error-message {
  0% {transform: translateX(0);}
  25% {transform: translateX(0.5rem);}
  75% {transform: translateX(-0.5rem);}
  0% {transform: translateX(0);}
}

.question-container-loading
{
  opacity: 0;
}

.question-container
{
  animation: question-in 0.5s ease-out forwards;
}

@keyframes question-in {
  0% {transform: translateY(-25px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}

.scale-in
{
  animation: scale-in-animation 0.2s ease-in forwards;
}

@keyframes scale-in-animation {
  0% {transform: scale(0); opacity: 0.5;}
  100% {transform: scale(1); opacity: 1;}
}

.time-up-icon
{
  transform-origin: center;
  animation: time-up-animation 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
}

@keyframes time-up-animation {
  0% {transform: rotate(0);}
  25% {transform: rotate(20deg);}
  50% {transform: rotate(-20deg);}
  75% {transform: rotate(0);}
}

/* @keyframes time-up-animation {
  0% {transform: rotate(-20deg);}
  50% {transform: rotate(20deg);}
  100% {transform: rotate(-20deg);} 
} */


.questions-progress-container
{
  width: min(1200px, 90vw);
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
  z-index: -1;
}
.questions-progress-bar
{
  width: calc(100% - 10px);
  z-index: -1;
}

.status-modal > .modal-dialog
{
  max-width: min(1000px,calc(100% - 50px)) !important;
}

.modal
{
  backdrop-filter: blur(0.15rem);
}

.user-avatar
{
  aspect-ratio: 1;
  border: 0.15rem white solid;
  border-bottom: 0;
}

input
{
  outline: 0;
  border: 0;
}

.main-input
{
  background-color: black;
  color: var(--text-bright);
  padding: 0.5rem;
  font-family: monospace;
  text-align: center;
}
.main-input::placeholder
{
  color: var(--text-accent);
}

.main-button
{
  --w: 2px;
  --nw: calc(-1 * var(--w));
  border-radius: 0 !important;
  background-color: var(--main-button) !important;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  
  display: flex; align-items: center;

  font-family: monospace !important;
  font-size: 1.25rem !important;

  position: relative;

  border: 0 !important;
  border-bottom: 0.15rem white solid !important;

}
.main-button.secondary
{
  background-color: var(--secondary) !important;
}
.main-button.danger
{
  background-color: var(--danger) !important;
}
.main-button.dark
{
  background-color: var(--dark-bg) !important;
}

.main-button:hover
{
  background-color: var(--main-button-hover) !important;
}
.main-button.secondary:hover
{
  background-color: var(--secondary-hover) !important;
}
.main-button.danger:hover
{
  background-color: var(--danger-hover) !important;
}
.main-button.dark:hover
{
  background-color: var(--dark-bg) !important;
}

.main-button.arrow::before
{
  content:"";
  display: inline-block;
  height: 20px; aspect-ratio: 1;

  background-image: url("./assets/gt.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center 5%;


  transform: scaleY(1);
  transform-origin: center 70% !important;
}

.main-button.arrow:not(:disabled):hover::before
{
  animation: spinning-arrow 1s ease-in-out infinite;
}

@keyframes spinning-arrow {
  0% {transform: scaleY(1);}
  50% {transform: scaleY(-1);}
  100% {transform: scaleY(1);}

}

.app-navbar
{
  border-bottom: 0.15rem solid rgb(200, 255, 200);
}

.comment
{
  color: var(--text-accent) !important;
}

.comment::before
{
  content: "// ";
}

.loading::before
{
  content: "| ";
  animation: loading-animation 0.75s linear infinite;
}

@keyframes loading-animation {
  0% {content: "| ";}
  25% {content: "/ ";}
  50% {content: "— ";}
  75% {content: "\\ ";}
}

.questions-scroll:hover
{
  overflow-x: scroll;
}
.questions-scroll::-webkit-scrollbar
{
  height: 5px;
  appearance: none;
  background-color: rgba(0, 0, 0, 1);
}

.questions-scroll::-webkit-scrollbar-thumb
{
  background-color: var(--text-accent);
}


.spinning-arrow
{
  height: 30px; aspect-ratio: 1;

  background-image: url("./assets/gt.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center 5%;

  margin-bottom: 10px;


  transform: scaleY(1);
  transform-origin: center 70% !important;
}

.spinning-arrow
{
  animation: spinning-arrow 1s ease-in-out infinite;
}



.dropdown-item:active
{
  background-color: var(--text-accent) !important;

}
.dropdown-item.active
{
  background-color: var(--bs-success) !important;
}


.textarea-input
{
  outline: 0;
  border: 0;
  background-color: black;
  color: white;
  resize: none;
}